.hero {
  padding-top: 4rem; /* Adjust this value to match the height of your navbar */
  height: calc(
    75vh - 6rem
  ); /* Subtract the same value to maintain the overall height */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("src/assets/Inside.jpg") no-repeat center center;
  background-size: cover; /* cover might work better than contain */
}

/* Overlay for the background image to create a faded effect */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 75vh - 6rem;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* This color and opacity affect only the background, not the content */
  z-index: 1;
}

/* Content inside App-hero should be above the overlay */
.hero-content {
  position: relative;
  z-index: 2;
}
