/* Animations */
@keyframes slideDownLogo {
  from {
    transform: translateY(-100%) rotateY(0deg);
  }
  to {
    transform: translateY(0) rotateY(180deg);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.header {
  position: relative; /* Establish relative positioning context for absolute children */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0; /* Adjust top and bottom padding to narrow the navbar */
  /* background-color: #111; */
  scroll-snap-align: start;
  z-index: 3;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the logo images */
  animation: slideDownLogo 1s ease forwards;
}

/* Style for the first image */
.logo img:nth-child(1) {
  width: 6rem; /* Set the width of the first image */
  transition: transform 0.7s ease-in-out;
  display: block; /* removes bottom space under the image */
}

/* Style for the second image */
.logo img:nth-child(2) {
  width: 18rem; /* Set the width of the second image */
  display: block; /* removes bottom space under the image */
}

/* Rotate the first image on hover */
.logo:hover img:nth-child(1) {
  /* opacity: 0.7; */
  transform: rotateY(180deg); /* Flips the first image along the Y-axis */
}

.nav {
  position: absolute; /* Position navbar absolutely to allow overlap */
  top: calc(100% + 10rem); /* Position the navbar lower */
  left: 0;
  right: 0;
  transform: translateY(
    -50%
  ); /* Offset by half of its height for perfect centering */
  display: flex;
  justify-content: center; /* Distribute space evenly between and around items */
  align-items: center;
  width: 100%;
  max-width: 80rem; /* Same as the global container */
  margin: 0 auto; /* Center the navbar */
  z-index: 3;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  gap: 1rem;
}

.nav ul li {
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.5s ease;
}

.nav ul li:hover {
  color: #ddd; /* Lighten the color on hover */
}

.nav-about {
  animation: slideLeft 1s ease forwards;
}

.nav-services {
  animation: slideRight 1s ease forwards;
}

/* Mobile styles */
@media (max-width: 480px) {
  /* Adjust this breakpoint as needed for targeting mobile devices */
  /* Hide the second logo image and nav links */
  .logo img:nth-child(2),
  .nav ul {
    display: none;
  }

  /* Show only the first logo image and adjust its size if needed */
  .logo img:nth-child(1) {
    width: 4rem; /* Adjust the size as needed */
  }

  /* Adjust navbar positioning if needed */
  .nav {
    top: 0;
    transform: none;
    top: calc(100% + 5.5rem); /* Position the navbar lower */
  }
}

@media (max-width: 280px) {
  .nav {
    top: calc(100% + 2rem);
  }
}
