.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  /* scroll-snap-type: y proximity; Apply scroll snap here */
  max-width: 150rem;
  margin: auto;
}

.main {
  flex-grow: 1; /* Fill the available space */
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #222;
}

.sidebar-item {
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  /* Enable scroll-snap for mobile */
  .App {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
